nav {
    display: flex;
    padding-top: 2rem;
    background-color: rgb(20, 9, 175);
    padding-bottom: 2rem;
}

.nav_logo {
    padding-left: 3rem;
    font-size: 1rem;
    font-weight: 500;
}

.permalinks {
    display: flex;
    gap: 2rem;
    margin-left: 63rem;
    justify-content: end;
    flex-wrap: wrap;
    color: black;
}

.draw {
  display: none;
}

/* -------------- MEDIA QUERIES(MEDIUM DEVICES) -------------- */

@media screen and (max-width: 1024px) {
    nav {
      width: var(--container-width-md);
    }

    .draw {
    }
  }
  
  /* -------------- MEDIA QUERIES(SMALL DEVICES) -------------- */
  
  @media screen and (max-width: 600px) {
    nav {
      width: var(--container-width-sm);
      height: 15vh;
    }

    .nav_logo {
      padding-left: 1.3rem;
      position: relative;
    }

    .permalinks {
      display: none;
    }

    .draw {
      margin-left: 15rem;
      display: block;
      background-color: transparent;
      padding-bottom: 0.5rem;
    }
    
    .list {
      display: flex;
      flex-direction: column;
      background-color: white;
      height: 40rem;
      text-align: center;
    }

    .slide {
      padding-left: -1rem;
      margin-left: -1rem;
      background-color: white;
    }
  }
